*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches
/.idea/misc.xml
.idea/*
app/debug/app-debug.apk
app/debug/output.json
app/release/app-release.apk
app/release/output.json
.idea/misc.xml

/.idea/